@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction:column;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 1000px;
    /* color: #f6f8fa; */
    /* background-color: orange; */
    margin: auto;
}

#wrapper .container{
    background-image: url(./Photos/mainBackground.png);
    width:100%;
    min-height: 700px;
    /* opacity: 0.9; */
}

#wrapper .container nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

#wrapper .container nav ul{
    display: flex;
    gap: 60px;
   

}

#wrapper .container nav ul li{
    list-style: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

