@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 1000px;
    margin: auto;
    background-color: #f6f8fa;
}

#wrapper .container{
    background-image: url(./Photos/mainBackground.png);
    background-repeat: no-repeat;
    width:100%;
    min-height: 700px;
    /* opacity: 0.9; */
    display: flex;
    flex-direction: column;
}

#wrapper .container nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#wrapper .container nav ul{
    display: flex;
    gap: 60px;
   

}

#wrapper .container .hr{
    width: 85%;
    min-height: 2px;
    background-color: rgb(146, 148, 150);
    margin: 0 80px;
    
}

#wrapper .container nav ul li{
    list-style: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

#wrapper .container .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 25px;
    margin-top: 150px;
    margin-left: 165px;
}

#wrapper .container .hero .hero-head{
    font-size: 50px;
    color: white;
    font-weight: 600;
}

#wrapper .container .hero .hero-para{
    font-size: 14px;
    color: white;
    font-weight: 500;
}

#wrapper .container .hero button{
    padding: 20px 35px;
    border-radius: 25px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
    margin-top: 40px;
}

#wrapper .container .logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 95%;
    min-height: 130px;
    background-color:white;
    margin: auto;
    border-radius: 30px;
}

/* best estate */


#wrapper .best-Estate{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    padding: 60px 100px;
    background-color: #f6f8fa;
    gap: 50px;
}

#wrapper .best-Estate .best-Estate-head{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    /* margin-bottom: 50px; */
}

#wrapper .best-Estate .best-Estate-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

/* first-box */

#wrapper .best-Estate .best-Estate-box .first-box{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}

#wrapper .best-Estate .best-Estate-box .first-box .first-content{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding:20px 10px;
    border-radius:15px;   
}
#wrapper .best-Estate .best-Estate-box .first-box .first-content .first-head p:first-child{
  color:black;
  font-weight: 600;
  margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .first-box .first-content .first-head p:nth-child(2) {
    color: #6663e9;
    font-weight:700;
    font-size:14px;
}

#wrapper .best-Estate .best-Estate-box .first-box .first-content button{
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}


/* second-box */

#wrapper .best-Estate .best-Estate-box .second-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage2.png);
    background-position:left center ;
    background-size: cover;
    position: relative;
    margin-bottom: 25px;
}

#wrapper .best-Estate .best-Estate-box .second-box .second-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .second-box .second-content .second-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .second-box .second-content .second-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .second-box .second-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* third box */

#wrapper .best-Estate .best-Estate-box .third-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage3.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 25px;
}

#wrapper .best-Estate .best-Estate-box .third-box .third-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .third-box .third-content .third-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .third-box .third-content .third-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .third-box .third-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* fourth box */

#wrapper .best-Estate .best-Estate-box .fourth-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage4.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

#wrapper .best-Estate .best-Estate-box .fourth-box .fourth-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .fourth-box .fourth-content .fourth-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .fourth-box .fourth-content .fourth-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .fourth-box .fourth-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* fifth box */
#wrapper .best-Estate .best-Estate-box .fifth-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage5.png);
    background-position:center;
    background-size:440px 300px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 35px;
}

#wrapper .best-Estate .best-Estate-box .fifth-box .fifth-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .fifth-box .fifth-content .fifth-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .fifth-box .fifth-content .fifth-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .fifth-box .fifth-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* sixth box */
#wrapper .best-Estate .best-Estate-box .sixth-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage6.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 65px;
}

#wrapper .best-Estate .best-Estate-box .sixth-box .sixth-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .sixth-box .sixth-content .sixth-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .sixth-box .sixth-content .sixth-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .sixth-box .sixth-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* seventh box */


#wrapper .best-Estate .best-Estate-box .seventh-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage7.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

#wrapper .best-Estate .best-Estate-box .seventh-box .seventh-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .seventh-box .seventh-content .seventh-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .seventh-box .seventh-content .seventh-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .seventh-box .seventh-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* eight box */

#wrapper .best-Estate .best-Estate-box .eight-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage8.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 40px;
}

#wrapper .best-Estate .best-Estate-box .eight-box .eight-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .eight-box .eight-content .eight-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .eight-box .eight-content .eight-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .eight-box .eight-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}

/* nineth box */
#wrapper .best-Estate .best-Estate-box .nineth-box {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./Photos/cardImage9.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 75px;
}

#wrapper .best-Estate .best-Estate-box .nineth-box .nineth-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
    padding: 20px 10px;
    border-radius: 15px;
}

#wrapper .best-Estate .best-Estate-box .nineth-box .nineth-content .nineth-head p:first-child {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

#wrapper .best-Estate .best-Estate-box .nineth-box .nineth-content .nineth-head p:nth-child(2) {
    color: #6663e9;
    font-weight: 700;
    font-size: 14px;
}

#wrapper .best-Estate .best-Estate-box .nineth-box .nineth-content button {
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    background-color: #6663e9;
    color: white;
    font-weight: 600;
}