@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
   /* max-width: 1440px; */
   overflow-y: scroll;
   min-height: 100vh;
   overflow-x: hidden;
   font-family: Raleway,sans-serif;
}

.hero{
  height: 400px;
  position: relative;
}

.hero::before{
  content: '';
  background-image: url(./assets/1177508.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(0.70);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


.search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 250px;
  left: 50px;
}


.hero .search input{
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  text-align: left;
}

.hero .search input:focus{
  text-align: center;
   
  padding: 12px 12px;
}

.hero .search button{
  padding: 10px 10px;
  border-radius: 50%;
  border: none;
    background: linear-gradient(#6a3093, #a044ff);
  cursor: pointer;
}

.hero p{
  color: white;
  position: relative;
  top: 270px;
  left: 580px;
  font-size: 30px;

  font-family: Raleway;
  font-weight: 700;
  color:white;
  word-spacing: 2px;

}

/* cards container */
.cards{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   padding-top: 50px;
   border: 1px solid red;
   height:700px ;
  }
  .cards h1{
  font-size: 40px;
  background: -webkit-linear-gradient(#6a3093, #a044ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards .underline{
  width: 120px;
  height: 4px ;
  background: linear-gradient(#6a3093, #a044ff);
  margin-right: 5px;
  /* margin-top: -3px; */
}

.cards .card-items{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;

}

/* single card */




.card .card-name{

}
