@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    background-color: #000000;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}

ul{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 1px;
}
li,p{
    color: #ffffff;
}
li{
 list-style: none;
 font-size: 16px;
font-family:"Montserrat"

}

.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
    margin-right: 10px;
}

.icon{
    font-size: 10px;
    padding-left: 16px;
}
.right-nav img{
    position: absolute;
    top:45px;
    right:166px
}

.contact{
    z-index: 1;

}
h1,span{
    color: white;    
}

.vertical-line{    
    border: 1px solid rgb(189, 70, 70);
}
.info {
    display: flex;

}
.right-section{
    display: flex;
    justify-content: space-around;
    align-items: center;


}




