@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body{
    /* max-width: 1440px;
    overflow: hidden;
    margin: auto;
    background-color: #754a4a;
    min-height: 1000px;
    color: white;
    font-family: "Poppins"; */
    
}


nav{
    height: 15vh;
     display: flex;
     align-items: center; 
    justify-content: space-around;
}

ul{
    display: flex;
    align-items: center;
    gap:45px;
}

ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
}

.side-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
}

.side-nav i{
    font-size: 8px;
}

.side-nav img{
    position: relative;
    left:30px;
    z-index: -1;
}

.two{
    display: flex;
    position: relative;
    right: 20px;
}

.hero{
    display: flex;
    margin-top: 50px;
    margin-left: 120px;
    background-color: cadetblue;
}

.hero .left{
  
}

.logos{
    background-color: darkblue;
}