.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 44px;
    margin-right: 180px;

}

.menu li{
    list-style-type: none;
}