*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body{
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: blueviolet;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.container .form{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.container h1{
  text-align: center;
  margin-top: 20px;
}

input{
  padding: 5px 0px;
  border-radius: 5px;
  border: none;
}
input::placeholder{
  text-align: center;
}
input:focus{
  padding: 10px 0px;
  border: 1px solid blueviolet;
}

.container button{
 height: 30px;
 width: 30px;
 background-color: transparent;
 border: none;
 margin-left: 2px;
 cursor: pointer;

}



.todolist{
  background-color: rgb(215, 150, 163);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
  padding: 5px 40px;
  position: relative;
  top: 20px;
  border-radius: 5px;
}

.todolist .upper{
  display: flex;
  gap: 15px;
}

.todolist .lower{
  display: flex;
  gap: 10px;
  cursor: pointer;
}

