@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    max-width: 1440px;
    margin: auto;
    min-height: 100vh;
}

.container{
    padding-top: 20px;
    height: 700px;
    background-color: #000000;
    margin: 0px 120px;
}

.container nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container nav .nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.container nav .nav-menu li{
    list-style: none;
    font-size: 14px;
    color: #848383;
    font-weight: 500;
}

.container nav button{
    padding: 8px 25px;
    border-radius: 20px;
    background-color: #0c8bfd;
    color: white;
    border: none;
}

/* hero-section */

.hero{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 50px;
    padding-bottom: 50px;
    
}

.hero .left-hero{
    color: white;
}

.hero .left-hero .left-heads{
    font-size: 50px;
    font-weight: 600;
}

.hero .left-hero .left-heads .blue{
    color: #0c8bfd;
    font-style: italic;
}

.hero .left-hero .left-p {
   font-size: 15px;
    color: #848383;
    margin-top: 15px;
    margin-bottom: 50px;
}

.hero .left-hero .left-p p{
    margin-bottom: 5px;
}

.hero .left-hero .left-btns button{
  border-radius: 25px;
  font-weight: 400;
  color: white;

}

.hero .left-hero .left-btns button:first-child{
    background-color: #0c8bfd;
  padding: 12px 24px;
    margin-right: 10px;
}

.hero .left-hero .left-btns .try{
    background-color: #111010;
    border:1px solid white;
  padding: 12px 20px;
}


/* logos-section */

.container .logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #1d1c1c;
    padding:25px 25px ;
}

.container .logos img{
    width: 110px;
}

/* service section */
.services{
    margin-top: 150px;
}


.services .service-txt{
    text-align: center;
}

.services .service-txt .service-heads{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.services .service-txt .service-para{
    color: #a5a4a4;
}

.services{
    display: flex;
    
}


.services .fast-box{
    border: 1px solid black ;
}


